body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.name-highlight{
    color: orange;
}
.top-banner{
    padding: 80px 40px;
    overflow: hidden;
    background-image: url("../images/top-banner.png");
    background-repeat: no-repeat;
}
.sideBySide{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    h2{
        font-size: 50px;
        line-height: 55px;
    }
    p{
        font-size: 18px;
        line-height: 25px;
    }
    .link-btn{
        text-decoration: none;
        padding: 10px 20px;
        color: #fff;
        border-radius: 5px;
        font-weight: bold;
        background-image: linear-gradient(45deg, lightSalmon, tomato);
    }
    img{
        width: 100%;
    }
}
.dream-area{
    padding: 80px 40px;
    overflow: hidden;
    background-image: url("../images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area{
    padding: 50px 0px;
    overflow: hidden;
    background-image: url("../images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    .half-width{
        width: 40%;
        float: left;
        margin-left: 5%;
        padding-left: 2%;
        box-shadow: 10px 10px 40px gray;
        border-radius: 5px;
        height: 300px;
        h2{
            font-size: 30px;
            line-height: 35px;
        }
        h3{
            color: orange;
        }
        p{
            font-size: 18px;
            line-height: 25px;
        }
    }
    .experience-one{
        border-left: 7px solid;
        border-image: linear-gradient(180deg, lightSalmon, tomato);
        border-image-slice: 1;
    }
    .experience-two{
        border-left: 7px solid;
        border-image: linear-gradient(180deg, blue, cyan);
        border-image-slice: 1;
    }
}